[mcu nitehawk]
restart_method: command

#[temperature_sensor chamber_temp]
#sensor_type: Generic 3950
#sensor_pin: nitehawk:PB2
#pullup_resistor: 4700
#min_temp: 0
#max_temp: 100
#gcode_id: chamber_th

[adxl345]
cs_pin: nitehawk:PB10
spi_software_sclk_pin: nitehawk:PA5
spi_software_mosi_pin: nitehawk:PA2
spi_software_miso_pin: nitehawk:PA6

[resonance_tester]
probe_points: 125, 105, 20
accel_chip: adxl345

[extruder]
step_pin: nitehawk:PB8
dir_pin: nitehawk:PB9
enable_pin: !nitehawk:PC14
filament_diameter: 1.750
heater_pin: nitehawk:PA7
sensor_pin: nitehawk:PB12
pullup_resistor: 2200

[tmc2209 extruder]
uart_pin: nitehawk:PB7
tx_pin: nitehawk:PB6
sense_resistor: 0.100
run_current: 0.5     #need to tune 

[heater_fan hotend_fan] 
pin: nitehawk:PD0
tachometer_pin: nitehawk:PD1
tachometer_ppr: 2
tachometer_poll_interval: 0.0015

[fan]
pin: nitehawk:PA15
tachometer_pin: nitehawk:PD2
tachometer_ppr: 2
tachometer_poll_interval: 0.0015

#[neopixel toolhead]
#pin: nitehawk:PD3
#chain_count: 3
#color_order: GRBW
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
#initial_WHITE: 0.0

[output_pin act_led]
pin: nitehawk:PC6

#   I2C port
#i2c_software_scl_pin: nitehawk:PB3
#i2c_software_sda_pin: nitehawk:PB4
