[gcode_arcs]
[exclude_object]

[force_move]
enable_force_move: True

[include mainsail.cfg]
#[include fluidd.cfg] # If using Fluidd, uncomment this line and comment the mailsail.cfg line.

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[temperature_sensor Raspberry_Pi]
#sensor_type: temperature_host

## Uncomment for your configuration

#########################
#### MAINBOARDS

##### Einsy RAMbo
#[include prusawire/mainboards/einsy_rambo.cfg]
#
#[mcu]
# serial: /dev/serial/by-id/usb-Prusa_Research__prusa3d.com__Original_Prusa_i3_MK3_xxxxxxx

##### BTT SKR Mini E3
#[include prusawire/mainboards/btt_skr_mini_e3_v3.cfg]
#
#[mcu]
# serial: /dev/serial/by-id/usb-Klipper_stm32_xxxxxxx

##### BTT SKR Pico
#[include prusawire/mainboards/btt_skr_pico.cfg]
#
#[mcu]
# serial: /dev/serial/by-id/usb-Klipper_stm32_xxxxxxx

#########################
#### TOOLHEAD BOARDS

##### LDO Nitehawk SB
# There are 2 versions of the Nitehawk. Only uncomment the one for your version.
# The MCU serial will include rp2040 on the original and stm32 on the V2.
#[include prusawire/toolboards/ldo_nitehawk_sb.cfg]
#[include prusawire/toolboards/ldo_nitehawk_sb_v2.cfg]
#
#[mcu nitehawk]
#serial: /dev/serial/by-id/usb-Klipper_xxxxxx_xxxxxxx

##### BTT SB2209 USB
#[include prusawire/toolboards/btt_sb2209_usb.cfg]
#
#[mcu sb2209]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_xxxxxxx

##### BTT SBB2209 CAN
#[include prusawire/toolboards/btt_sb2209_can.cfg]
#
#[mcu sb2209can]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_xxxx
#canbus_uuid: 0e0d81e4210c

#########################
#### PROBES

##### SuperPINDA on LDO Nitehawk SB V1
#[include prusawire/probes/super_pinda__ldo_nitehawk_sb.cfg]

##### E3D PZ Probe on LDO Nitehawk SB V1
#[include prusawire/probes/e3d_pz_probe__ldo_nitehawk_sb.cfg]

##### Omron Probe on LDO Nitehawk SB V1
#[include prusawire/probes/omron__ldo_nitehawk_sb.cfg]

##### SuperPINDA on LDO Nitehawk SB V2
#[include prusawire/probes/super_pinda__ldo_nitehawk_sb_v2.cfg]

##### E3D PZ Probe on LDO Nitehawk SB V2
#[include prusawire/probes/e3d_pz_probe__ldo_nitehawk_sb_v2.cfg]

##### Omron Probe on LDO Nitehawk SB V2
#[include prusawire/probes/omron__ldo_nitehawk_sb_v2.cfg]

##### SuperPINDA on BTT SB2209 USB
#[include prusawire/probes/super_pinda__btt_sb2209_usb.cfg]

##### SuperPINDA on BTT SB2209 CAN
#[include prusawire/probes/super_pinda__btt_sb2209_can.cfg]

##### E3D PZ Probe on BTT SB2209 USB
#[include prusawire/probes/e3d_pz_probe__btt_sb2209_usb.cfg]

##### Omron Probe on BTT SB2209 USB
#[include prusawire/probes/omron__btt_sb2209_usb.cfg]

#########################
#### EXTRUDERS

##### Clockwork 2
#[include prusawire/extruders/clockwork_2.cfg]

##### Galileo 2
#[include prusawire/extruders/galileo_2.cfg]

[extruder]
# The extruders have default rotation_distance values, but it should
# be calibrated. See the included configuration files for start values.
# Guide: https://ellis3dp.com/Print-Tuning-Guide/articles/extruder_calibration.html
#rotation_distance: 0
nozzle_diameter: 0.4

#########################
#### HOTENDS

##### E3D V6, E3D Revo
#[include prusawire/hotends/e3d_v6_revo.cfg]

#########################
#### FILAMENT SENSOR

##### LDO Nitehawk SB V1
#[include prusawire/filament_sensors/ldo_nitehawk_sb.cfg]

##### LDO Nitehawk SB V2
#[include prusawire/filament_sensors/ldo_nitehawk_sb_v2.cfg]

##### BTT SB2209 USB
#[include prusawire/filament_sensors/btt_sb2209_usb.cfg]

#########################
#### LCD SCREENS

##### Prusa MK3 LCD
#[include prusawire/screens/prusa_mk3_einsy_rambo.cfg]

# For BTT Pi TFT and HDMI 5, please check back soon

#########################
#### STANDARD MACROS

#### PRINT START AND END
[include prusawire/macros/print_start_end.cfg]

#### FILAMENT LOAD AND UNLOAD
[include prusawire/macros/filament_load_unload.cfg]

#### MOVEMENT
[include prusawire/macros/movement.cfg]

#########################

[printer]
kinematics: corexz
max_velocity: 300
max_accel: 2000
max_z_velocity: 300
max_z_accel: 2000
square_corner_velocity: 12.0

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 38.6
damping_ratio_x: 0.037
shaper_freq_y: 69.8
shaper_type_y: 3hump_ei
damping_ratio_y: 0.053

#########################
#### Rotation Distance

# If you are using stock MK3/MK4 timing pulleys (16 teeth) for 
# your belts, uncomment the following to change rotation_distance to 32.
# This must be kept after the mainboards section, which set a rotation_idstance of 40 (20 teeth).

#[stepper_x]
#rotation_distance: 32

#[stepper_y]
#rotation_distance: 32

#[stepper_z]
#rotation_distance: 32

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.00
#*# pid_ki = 4.8
#*# pid_kd = 32.6
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 126.13
#*# pid_ki = 4.30
#*# pid_kd = 924.76
