[probe]
x_offset: 0
y_offset: 25
z_offset: 0
samples: 3
samples_result: median
sample_retract_dist: 3
samples_tolerance: 0.006
samples_tolerance_retries: 3

[bed_mesh]
mesh_min: 34.605, 11.5
mesh_max: 243.1, 203.0
probe_count: 7, 7
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0
mesh_pps: 3, 3
zero_reference_position: 34.6, 11.5
faulty_region_1_min: -4.0, 1.0
faulty_region_1_max: 20.0, 100.0
faulty_region_2_min: 22.0, -18.0
faulty_region_2_max: 93.0, 4.0
faulty_region_3_min: 155.0, -18.0
faulty_region_3_max: 227.0, 4.0
faulty_region_4_min: 127.0, -15.0
faulty_region_4_max: 145.0, 26.0
faulty_region_5_min: 194.0, 10.0
faulty_region_5_max: 231.0, 27.0
faulty_region_6_min: 234.0, 26.0
faulty_region_6_max: 251.0, 99.0
faulty_region_7_min: 116.0, 43.0
faulty_region_7_max: 134.0, 83.0
faulty_region_8_min: 207.0, 95.0
faulty_region_8_max: 226.0, 129.0
faulty_region_9_min: 157.0, 102.0
faulty_region_9_max: 193.0, 118.0
faulty_region_10_min: 59.0, 102.0
faulty_region_10_max: 93.0, 118.0
faulty_region_11_min: 25.0, 95.0
faulty_region_11_max: 40.0, 129.0
faulty_region_12_min: 234.0, 122.0
faulty_region_12_max: 251.0, 191.0
#Note: Faulty Region not validated
