[include squiggly_purge.cfg] 

[gcode_macro PRINT_START]
gcode:
#   Fetches data from your slicer.
    {% set target_bed = params.BED|int %}
    {% set target_extruder = params.EXTRUDER|int %}
    {% set target_chamber = params.CHAMBER|default("45")|int %}
    {% set target_chamber_minimal = params.CHAMBER_MINIMAL|default("0")|int %}
    {% set target_chamber_wait = [target_chamber, target_chamber_minimal]|select(">", 0)|min|default(0) %}

#   Heat up bed and nozzle initially and wait.
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={target_bed}
    TEMPERATURE_WAIT sensor=heater_bed minimum={target_bed}
    TEMPERATURE_WAIT sensor=extruder minimum=150
    
#   Home axes.
    G28                            ; home all axes
    G90                            ; absolute positioning
    G1 Z20 F3000                   ; move nozzle away from bed

#   Perform adaptive bed mesh.
    BED_MESH_CALIBRATE ADAPTIVE=1
    G0 X2.5 Y-10 F3000             ; Go to front

#   Heat nozzle to print temperature.
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={target_extruder}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={target_extruder}

#   Create Squiggly Purge.
      SQUIGGLY_PURGE PURGE_LENGTH=50 PERIODS=5 LINE_MARGIN=15

[gcode_macro PRINT_END]
gcode:
    M400                           ; wait for buffer to clear
    _FILAMENT_RETRACT              ; retract filament
    G91                            ; relative positioning

#   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

#   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
    {% set x_safe = 20.0 %}
    {% else %}
    {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
    {% set y_safe = 20.0 %}
    {% else %}
    {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
    {% set z_safe = 2.0 %}
    {% else %}
    {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X60 Y{max_y} F3600          ; park nozzle at rear

[gcode_macro CANCEL_PRINT]
description: Cancel the running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  PRINT_END
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE
